
# no static_url set will serve these locally
#static_url: https://zapp-server.eu/static/mmupload/

# necessary for startups
#file_destination: /some/writeable/destination

# url prefix (directory)
url_prefix: /
# static url prefix, will be used for nginx "X-Accel-Redirect"
# -> if not set, then flask will serve the files using 'send_file'
#static_url_prefix: /mmdownload

secret_key: 123456123456123456

##### global username and password, use 'get_pass.py'
user: myuser
# pwd = adminadmin
pwd: e65f7d97553794849e6ebfc079d937ab0462fda709d56cab3bf54eae3a4f0564

# these below are not used yet...

# there are 2 zones for now:
zones:
  # - one public (available already)
  pub:
  # - one with user/pass entry (WARNING: not implemented yet)
  myfancyzone:
    user: hossa
    pwd: blubinserthereapassastheonefortheadmin

paths:
  'files/README.mdasd':
    zones:
      - pub
  'files/wsgi.ini':
    zones:
		  - pub




