
body {
	background-color: #bababc;
	font-family: Monaco;
	font-size: 0.9em;
	overflow: hidden;
}

input, input[type=submit], input[type=text], input[type=file],
input[type=submit], input[type=number], input[type=button],
#editorbox input[type=button], #editorbox input[type=submit] {
	font-size: 1em;
	font-family: Monaco;
	color: #454552;
	border: 0;
	background-color: #c4c4c5;
	box-shadow:  1px 1px 1px rgba(0, 0, 0, .15);
}

#editor_ctrl input[type=image] {
	opacity: 0.66;
	margin-right: 1em;
}

input[type=button] {
	margin-right: 1em;
	height: 1.55em;
}
input[type=text] {
	height: 1.5em;
}
input[type=submit] {
	height: 1.55em;
}

form label {
	margin-right: 10px;
}

label {
	font-weight: bold;
	text-align: left;
}

.changed {
	color: #bf4444;
}
.unchanged {
	color: #dedede;
}


.iconbox {
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-alignment: middle;
}

.iconbox img { }

.iconbox .tooltip {
	visibility: hidden;
	width: 10em;
	border: 1px solid #7a7a7a;
	background-color: #c4c4c5;
	color: #000;
	text-align: center;
	border-radius: 3px;
	position: absolute;
	line-height: 1em;
	font-size: 0.9em;
	padding: 5px;
	top: 10px;
	right: 10px;
	font-weight: bold;
	z-index: 1;
	opacity: 0.9;
	box-shadow:  1px 1px 1px rgba(0, 0, 0, .15);
}

.iconbox:hover .tooltip {
	visibility: visible;
}
.icon {
	height: 1.5em;
	width: 1.5em;
	margin-left: 1.0em;
	opacity: 0.35;
	border-radius: 4px;
}
.icon:hover {
	background-color: #ababab;
	opacity: 1.0;
}

.icon_confirm {
	margin-right:20px;
	background-color: #469600;
}
.icon_confirm:hover {
	margin-right:20px;
	background-color: #469600;
	opacity: 0.7;
}
.icon_cancel {
	background-color: #a04010;
}
.icon_cancel:hover {
	background-color: #a04010;
	opacity: 0.7;
}


a.uniquelink {
	margin: 0;
	padding: 0;
	text-decoration: unset;
}

#editor_ctrl {
	border: 0;
	background-color: black;
	color: #dedede;
	margin-left: 0;
	padding-left: 3em;
	padding-top: 1em;
}
#editor_ctrl label {
	padding: 0;
	margin: 0;
	vertical-align: super;
	margin-left: 4em;
	font-size: 1.15em;
	font-family: Monospace;

}

#files, #dirs, #curpath { }

#newdir, #upload {
	width:10000em;
}


#editorbox {
	background-color: #cccccc;
	line-height: 2.4em;
	padding: 6px;
}

.sublvlbox {
	padding-right: 20px;
	margin-left: 20px;
}
.sublvlbox:first-child {
	margin-left: 5px;
}
.sublvlbox:last-child {
	border: 0;
}
.toplvlbox {
	background-color: #cccccc;
	box-shadow:  1px 2px 2px rgba(0, 0, 0, .15);
	line-height: 2.4em;
	padding: 6px;
	height: 2.4em;
}

article {
	margin: 0;
	padding: 0;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
}

@media only screen and (max-width: 1279px) {
	#files, #dirs, #curpath, #editorbox, #newdir, #upload {
		width: 100%;
		border-top: solid 0.33em #bababc;
	}
	#flash {
		width: 100%;
		background-color: #cccccc;
		line-height: 2.4em;
		padding: 6px;
	}
}
/*** screens < 1280px (smartphones) */
@media only screen and (min-width: 1280px) {
	#dirs, #newdir {
		display: table-cell;
		min-width: 450px;
		margin-top: 10px;
		border-right: solid 0.33em #bababc;
	}
	#files, #upload {
		display: table-cell;
		min-width: 250px;
		vertical-align: top;
	}
	#dirs, #files {
		height: 30vh !important;
	}
	#flash {
		background-color: #cccccc;
		line-height: 2.4em;
		padding: 6px;
	}


}

#tools {
	display: flex;
	flex-wrap: wrap;
}

#editor {
	height: 400px;
}

#previewbox {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #000000cf;
	z-index: 10000;
}

#previewbox img {
	padding-top: 5%;
	margin: auto;
	display: flex;
	max-height: 90%;
	max-width: 90%;
}

#flash  .err {
	background-color: #db02b5bb;
	border-radius: 0.25em;
}

#flash .info {
	background-color: #2f5431bb;
	border-radius: 0.25em;
}



#flash div {
	font-weight: bold;
	background-color: #9a5f66;
	display: inline-block;
	padding-left: 8px;
	padding-right: 10px;
	color: #f8f8f8;
	margin-right: 10px;
	margin-bottom: 8px;
	/*box-shadow:  1px 1px 1px rgba(0, 0, 0, .15);*/
}

.jsgrid-edit-row input, .jsgrid-edit-row select, .jsgrid-edit-row textarea {
	padding: 0;
	padding-left: 5px
	height: 2.0em;
	margin-left: 0px;
}

.jsgrid-row, .jsgrid-alt-row, .jsgrid-header-row, .jsgrid-filter-row,
.jsgrid-insert-row, .jsgrid-grid-body, .jsgrid-header-scrollbar,
.jsgrid-nodata-row {
	background-color: unset;
	overflow: unset;
	border: 0;
	line-height: 1.6em;
}

.jsgrid-cell, .jsgrid-row>.jsgrid-cell, .jsgrid-alt-row>.jsgrid-cell, .jsgrid-edit-row,
.jsgrid-header-row>.jsgrid-header-cell, .jsgrid-nodata-row>.jsgrid-cell, .jsgrid-edit-row>.jsgrid-cell {
	background-color: unset;
	overflow: hidden;
	border: 0;
	border-top: 1px dotted #bebebe;
	margin: 2px;
}

.jsgrid-row:hover, .jsgrid-alt-row:hover {
	background-color: #bfbfbf;
}

.jsgrid-header-row>.jsgrid-header-cell {
	border: 0;
	border-bottom: 2px solid #7a7a7a;
	text-align: left;
	background-color: unset;
}

#files a.name, #dirs a.name {
	font-weight: bold;
	display: block;
}

#files a.action, #dirs a.action {
	display: block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 1em;
	text-align: center;
}

#upload label {
	float: left;
}

.left {
	float: left;
	width: 400px;
}

.right {
}

a:active, a:link, a:visited {
	color: #454552;
	text-decoration: none;
}

a:hover {
	color: #353542;
	text-decoration: underline;
}

br {
	clear: both;
}



/* PLAYGROUND */


.topink {
	filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}
.tonavy {
	filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
}
.toblue {
	filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}




