
:root {
	--bg-color:       #C4C4C5;
	--bg-color-alt:   #BABABA;

	--fg-color:       #454552;
	--fg-color-hover: #353542;

	--border-color:     #7A7A7A;
	--border-color-alt: #BABABA;
  --border-color-row: #9A9A9A;
	--border-color-icon:   #7A7A7A;

	--extra-color:    #F8F8F8;

	--bg-icon:       #A04010;
	--bg-icon-alt:   #469600;
	--bg-icon-hover: #ABABAB;

	--bg-icon-good:  #469600;
	--bg-icon-bad:   #A04010;

	--bg-msg-info:   #38805d6e;
	--bg-msg-err:    #ed5f5f80;

}

/*
:root {
    --bg-color: #3500d3;
    --bg-color-alt: #240090;
    
		--fg-color: #454552;
    --fg-color-hover: #a5a5a2;
    
		--border-color: #7A7A7A;
    
		--border-color-alt: #BABABA;
    --border-color-row: #9A9A9A;
    --border-color-icon: #7A7A7A;
    
		--extra-color: #190061;
    --bg-icon: #A04010;
    
		--bg-icon-alt: #469600;
    --bg-icon-hover: #ABABAB;

    --bg-icon-good: #469600;
    --bg-icon-bad: #A04010;

    --bg-msg-info: #38805d6e;
    --bg-msg-err: #ed5f5f80;

		--bg-iconbox: #9a9a9a;
}*/


/*
table { }
tr,td {   padding: 10px; }
tr {
  box-shadow: 0px 2px 4px rgba(0.4, 0.9, 0.8, 0.15);
  background-color: #cbcbcb4c; 
}
tr.spacer {
  height: 10px;
  border:0;
  margin:0;
  padding:0;
  box-shadow: 0px 0px 0px rgba(1,1,1,1);
  background-color: unset;
}
tr:hover {    background-color: #ccc; }
*/




body {
	background-color: var(--bg-color);
	font-family: Monaco;
	font-size: 0.9em;
}

input, input[type=submit], input[type=text], input[type=file],
input[type=submit], input[type=number], input[type=button],
#editorbox input[type=button], #editorbox input[type=submit] {
	font-size: 1em;
	font-family: Monaco;
	color: var(--fg-color);
	border: 0;
	background-color: var(--bg-color-alt);
	box-shadow:  1px 1px 1px rgba(0, 0, 0, .15);
}

#editor_ctrl input[type=image] {
	opacity: 0.66;
	margin-right: 1em;
}

input[type=button] {
	margin-right: 1em;
	height: 1.55em;
}
input[type=text] {
	height: 1.5em;
}
input[type=submit] {
	height: 1.55em;
}

form label {
	margin-right: 10px;
}

label {
	font-weight: bold;
	text-align: left;
	margin-left: 6px;
}

.changed {
	color: var(--bg-msg-err);
}
.unchanged {
	color: var(--bg-msg-info);
}


.iconbox {
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-alignment: middle;
	backgrou-color: var(--bg-icon-box)
}

.iconbox img { }

.iconbox .tooltip {
	visibility: hidden;
	width: 10em;
	border: 1px solid var(--border-icon);
	background-color: var(--bg-color-alt);
	color: #000;
	text-align: center;
	border-radius: 3px;
	position: absolute;
	line-height: 1em;
	font-size: 0.9em;
	padding: 5px;
	top: 10px;
	right: 10px;
	font-weight: bold;
	z-index: 1;
	opacity: 0.9;
	box-shadow:  1px 1px 1px rgba(0, 0, 0, .15);
}

.iconbox:hover .tooltip {
	visibility: visible;
}
.icon {
	height: 1.5em;
	width: 1.5em;
	margin-left: 1.0em;
	opacity: 0.35;
	border-radius: 4px;
	margin-bottom: -6px;
}
.icon:hover {
	background-color: var(--bg-icon-hover);
	opacity: 1.0;
}

.icon_confirm {
	margin-right:20px;
	background-color: var(--bg-icon-good);
}
.icon_confirm:hover {
	margin-right:20px;
	background-color: var(--bg-icon-good);
	opacity: 0.7;
}
.icon_cancel {
	background-color: var(--bg-icon-bad);
}
.icon_cancel:hover {
	background-color: var(--bg-icon-bad);
	opacity: 0.7;
}


a.uniquelink {
	margin: 0;
	padding: 0;
	text-decoration: unset;
}

#editor_ctrl {
	border: 0;
	background-color: var(--bg-color);
	color: var(--fg-color);
	margin-left: 0;
	padding-left: 3em;
	padding-top: 1em;
}
#editor_ctrl label {
	padding: 0;
	margin: 0;
	vertical-align: super;
	margin-left: 4em;
	font-size: 1.15em;
	font-family: Monospace;

}

#files, #dirs, #curpath { }

#newdir, #upload {
	width:10000em;
}

#editorbox {
	background-color: var(--bg-color-alt);
	line-height: 2.4em;
	padding: 6px;
}

.sublvlbox {
	padding-right: 20px;
	margin-left: 20px;
}
.sublvlbox:first-child {
	margin-left: 5px;
}
.sublvlbox:last-child {
	border: 0;
}
.toplvlbox {
	background-color: var(--bg-color);
	box-shadow: -2px 2px 6px rgba(0, 0, 0, .15);
	line-height: 2.4em;
	padding: 6px;
	height: 2.4em;
}

article {
	margin: 0;
	padding: 0;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
}


/*** screens < 1280px (smartphones) */
@media only screen and (min-width: 1280px) {
	#dirs, #newdir {
		display: table-cell;
		min-width: 450px;
		margin-top: 10px;
		border-right: solid 0.33em var(--bg-color);
	}
	#files, #upload {
		display: table-cell;
		min-width: 250px;
		vertical-align: top;
	}
	#dirs, #files {
		/*height: 80vh !important;*/
		height: 80vh !important;
	}
	#flash {
		background-color: var(--bg-color);;
		line-height: 2.4em;
		padding: 6px;
	}


}

#tools {
	display: flex;
	flex-wrap: wrap;
}

#editor {
	height: 400px;
}

#previewbox {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #000000cf;
	z-index: 10000;
}

#previewbox img {
	padding-top: 5%;
	margin: auto;
	display: flex;
	max-height: 90%;
	max-width: 90%;
}

#flash  .err {
	background-color: var(--bg-msg-err);
	border-radius: 0.25em;
}

#flash .info {
	background-color: var(--bg-msg-info);
	border-radius: 0.25em;
}

#flash div {
	font-weight: bold;
	/*background-color: var(--bg-mgs-info);*/
	display: inline-block;
	padding-left: 8px;
	padding-right: 10px;
	color: var(--fg-color);
	margin-right: 10px;
	margin-bottom: 8px;
	box-shadow:  1px 1px 1px rgba(0, 0, 0, .15);*/
}

.jsgrid-filter-row>.jsgrid-cell:first-child,
.jsgrid-header-row>.jsgrid-header-cell:first-child,
.jsgrid-insert-row>.jsgrid-cell:first-child,
.jsgrid-alt-row>.jsgrid-cell,
.jsgrid-header-row>.jsgrid-header-cell {
	background-color: var(--bg-color);
}

.jsgrid-edit-row input, .jsgrid-edit-row select, .jsgrid-edit-row textarea {
	padding: 0;
	padding-left: 5px
	height: 2.0em;
	margin-left: 0px;
}

.jsgrid-row, .jsgrid-alt-row, .jsgrid-header-row, .jsgrid-filter-row,
.jsgrid-insert-row, .jsgrid-grid-body, .jsgrid-header-scrollbar,
.jsgrid-nodata-row {
	background-color: unset;
	overflow: unset;
	border: 0;
	line-height: 1.6em;
}

.jsgrid-cell, .jsgrid-row>.jsgrid-cell, .jsgrid-alt-row>.jsgrid-cell,
.jsgrid-edit-row, .jsgrid-header-row>.jsgrid-header-cell,
.jsgrid-nodata-row>.jsgrid-cell, .jsgrid-edit-row>.jsgrid-cell {
	background-color: var(--bg-color);
	overflow: hidden;
	border: 0;
	border-top: 1px solid var(--border-color-row);
	margin: 2px;
}

.jsgrid-row:hover, .jsgrid-alt-row:hover {
	background-color: var(--bg-color);
}

.jsgrid-header-row>.jsgrid-header-cell {
	border: 0;
	border-bottom: 2px solid var(--border-color-row);
	text-align: left;
	background-color: var(--bg-color);
}

#files a.name, #dirs a.name {
	font-weight: bold;
	display: block;
}

#files a.action, #dirs a.action {
	display: block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 1em;
	text-align: center;
}

#upload label {
	float: left;
}

.left {
	float: left;
	width: 400px;
}

.right {
}

a:active, a:link, a:visited {
	color: var(--fg-color);
	text-decoration: none;
}

a:hover {
	color: var(--fg-color-hover);
	text-decoration: underline;
}

br {
	clear: both;
}






@media only screen and (max-width: 1279px) {
	#files, #dirs, #curpath, #editorbox, #newdir, #upload {
		width: 100%;
		border-top: solid 0px var(--border-color);
	}
	#flash {
		width: 100%;
		background-color: var(--bg-color);
		line-height: 2.4em;
		padding: 6px;
	}
	.jsgrid-row, .jsgrid-alt-row, .jsgrid-header-row, .jsgrid-filter-row,
	.jsgrid-insert-row, .jsgrid-grid-body, .jsgrid-header-scrollbar,
	.jsgrid-nodata-row {
			line-height: 1.6em;
	}
	.jsgrid {
			font-size: 1.25em;
	}

	#dirs {
		margin-bottom: 6px;
	}
	th {
		font-size: 0.9em;
		line-height: 0.9em;
	}
	.jsgrid-cell {
    	padding: .25em;
			padding-top: 1.5em;
			padding-bottom: 1.5em;
	}
	body {
		font-size: 1.0em;
	}

}




















/* PLAYGROUND */


.topink {
	filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}
.tonavy {
	filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
}
.toblue {
	filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}




