<!doctype html>
<head lang=en>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>File Uploader</title>

	<script src="{{ url_for("get_static", target="jquery-3.4.1.min.js") }}"
		type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for("get_static", target="jquery.form.js") }}"
		type="text/javascript" charset="utf-8"></script>
	<!--script src="{{ url_for("get_static", target="jsgrid/dist/jsgrid.min.js") }}"
		type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for("get_static", target="ace/src-min/ace.js") }}"
		type="text/javascript" charset="utf-8"></script/-->

	<!--link rel="stylesheet" href="{{ url_for("get_static",
											target="jsgrid/dist/jsgrid-theme.min.css") }}" /-->
	<!--link rel="stylesheet" href="{{ url_for("get_static",
											target="jsgrid/dist/jsgrid.min.css") }}" /-->
	<link rel="stylesheet" href="{{ url_for("get_static",
											target="style.css") }}" />



	<!--script src="{{ url_for("get_static", target="main.js") }}"
		type="text/javascript" charset="utf-8"></script /-->

</head>
<script>

	/*var url_prefix = "{{ url_prefix }}";

	var current_dir = "{{ base_dir }}";
	// hack, @fixme
	if (current_dir == ".")
			current_dir = "";

	{% for msg in messages %}
		show_message("{{msg}}");
	{% endfor %}

	var uid2item = new Object({});
	var uid2grid_id = new Object({});
	var uid_editing = null;

	var editor = null;
	{% if editor_target %}
	var editor_target = "{{ editor_target }}";
	{% else %}
	var editor_target = null;
	{% endif %}
*/


</script>

<body>


<article>
	<div id=flash class=toplvlbox></div>
</article>

<article>
 		  <div id=upload class=toplvlbox>
 			  <form method=POST enctype=multipart/form-data
  						action="{{ action }}" name=upload>
				  <label>upload file:</label>
				  <input type=file name=target />
					<input type=hidden name=what value=upload />
				  <input type=submit value=upload name=what />
			  </form>
		  </div>

</article>


</main>

<!--script src="{{ url_for("get_static", target="end.js") }}"
	type="text/javascript" charset="utf-8"></script-->

</body>

