<!doctype html>
<head lang=en>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Fancy Uploader Frontend</title>

	<script src="{{ url_for("get_static", target="jquery-3.4.1.min.js") }}"
		type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for("get_static", target="jquery.form.js") }}"
		type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for("get_static", target="jsgrid/dist/jsgrid.min.js") }}"
		type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for("get_static", target="ace/src-min/ace.js") }}"
		type="text/javascript" charset="utf-8"></script>

	<link rel="stylesheet" href="{{ url_for("get_static",
											target="jsgrid/dist/jsgrid-theme.min.css") }}" />
	<link rel="stylesheet" href="{{ url_for("get_static",
											target="jsgrid/dist/jsgrid.min.css") }}" />
	<link rel="stylesheet" href="{{ url_for("get_static",
											target="style.css") }}" />

	<script src="{{ url_for("get_static", target="main.js") }}"
		type="text/javascript" charset="utf-8"></script>

</head>
<script>
		var url_prefix = "{{ url_prefix }}";

  	var current_dir = "{{ base_dir }}";
		// hack, @fixme
		if (current_dir == ".")
			current_dir = "";

		$(function() {
			{% for msg in messages %}
				show_message("{{msg}}");
			{% endfor %}
		});
</script>

<body>

<header>
	<div id=flash class=toplvlbox></div>
	<div id=curpath class=toplvlbox></div>
</header>

<main>

	<article>
		<div id=dirs class=toplvlbox></div>
	</article>

	<article>
		<div id=files class=toplvlbox></div>
	</article>

	<aside>
		<div id=tools class=toplvlbox>

 		  <div id=upload class=sublvlbox>
 			  <form method=POST enctype=multipart/form-data method="post"
				  	  action="{{ url_for("create", dirname=base_dir) }}" name=upload>
				  <label>upload file: </label>
				  <input type=file name=target />
					<input type=hidden name=what value=upload />
				  <input type=submit value=upload name=what />
			  </form>
		  </div>

		  <div id=newdir class=sublvlbox>
		  <form method=POST action="{{ url_for("create", dirname=base_dir) }}"
			  		name=newdir>
			  <label>new directory: </label>
			  <input type=text name=new_dirname value=""/>
			  <input type=submit value=create name=what />
		  </form>
		  </div>

			<div id=pastebinlink class=sublvlbox>
				<form method=GET action="{{ url_for("pastebin") }}">
					<input type=submit value="new pastebin" name=what />
				</form>
			</div>

		</div>
	</aside>


</main>


<script>
var dir_grid = $("#dirs").jsGrid({

    width: "90%",

    editing: true,
    sorting: true,

    fields: [
        { name: "name", title: "Directory Name", type: "text", width: 150 },
     		{ name: "path", type: "text", visible: false},
				{ name: "mimetype", type: "text", visible: false},
        { name: "move_url", type: "text", visible: false},
        { name: "delete_url", type: "text", visible: false},
        { name: "click_url", type: "text", visible: false},
        { name: "size", title: "Tree Size", type: "text", align: "left", readOnly: true},
        { type: "control", width: 20 }
    ],

    rowClick: function(args) {
				update_grid("dirs", args.item.path);
				update_grid("files", args.item.path, true);
		},
		// before updating is done in grid
		onItemUpdating: function(args) {
				if (args.item.name != "")
						$.ajax({
							type: "POST",
							data: {new_target: args.item.name},
							url: args.item.move_url,
							error: function() { show_message("error moving", true); },
							success: function(ret) {
								show_message(ret["msg"]);
								update_grid("dirs", current_dir, true);
							}
						})
		},
		// before deletion is done in grid
    onItemDeleting: function(args) {
			$.ajax({
				type: "POST",
				url: args.item.delete_url,
				error: function() {	show_message("error deleting path", true);	},
				success: function(ret) {
					show_message(ret["msg"]);
				}
			});
		}
});

var file_grid = $("#files").jsGrid({

    width: "90%",

    //height: "400px",

    editing: true,
    sorting: true,

    fields: [
        { name: "name", title: "Name", type: "text", width: 150 },
        { name: "path", type: "text", visible: false},
        { name: "short", title: "Public short-url", type: "text"},
        /* { name: "zones", type: "text", visible: false}, */
				{ name: "mimetype", type: "text", visible: false},
        { name: "move_url", type: "text", visible: false},
        { name: "delete_url", type: "text", visible: false},
        { name: "click_url", type: "text", visible: false},
        { name: "size", title: "Size", type: "text", align: "left", readOnly: true},
        { type: "control", width: 20 }
    ],
    rowClick: function(args) {
				window.location = args.item.click_url;
		},

		// before updating is done in grid
		onItemUpdating: function(args) {
				if (args.item.name != "")
						$.ajax({
							type: "POST",
							data: { new_target: args.item.name, new_short: args.item.short },
							url: args.item.move_url,
							error: function() { show_error("error moving"); },
							success: function(ret) {
								show_message(ret["msg"]);
								update_grid("files", current_dir, true);
							}
						});
		},
		// before deletion is done in grid
    onItemDeleting: function(args) {
			$.ajax({
				type: "POST",
				url: args.item.delete_url,
				error: function() {
					show_error("error deleting path");
				},
				success: function(ret) {
					show_message(ret["msg"]);
				}
			});
		}
});

$(function() {
	update_grid("dirs", current_dir);
	update_grid("files", current_dir, true);

	$("form[name=newdir]").submit(function(ev) {
		ev.preventDefault();

		var newdir_name = $("form[name=newdir] input[name=new_dirname]").val();
		$.ajax({
			type: "POST",
			data: { what: "create", new_dirname: newdir_name },
			url: $("form[name=newdir]").attr("action"),
			error: function() {
				show_message(`failed creation directory: {newdir_name}`);
			},
			success:  function(ret) {
				ret.msgs.forEach(show_message);
				update_grid("dirs", ret.dirname);
				update_active_directory(ret.dirname);

				// clear input text field for directory
				$("form[name=newdir] input[type=text]").val("");
			}
		});
	});

	$("#upload").ajaxForm(function(ret) {
  	show_message("file uploaded successfully");
		update_grid("files", current_dir);

		// clear upload file name field
		$("form[name=upload] input[type=file]").val("");
  });


	//var editor = ace.edit("editor");
  //editor.setTheme("ace/theme/twilight");
  //editor.session.setMode("ace/mode/javascript");

	/*$("form[name=editor] input[name=what]").click(function(ev) {
			$("form[name=editor] input[name=contents]").val(editor.getValue());
	});*/

});

</script>
</body>


{#

{% if show_files and files %}
<div id=files class=box>
<ul>
{% for target, path, filesize in files %}
	<li class=file_item>
  	<a class=name href="{{ url_for("get_file", target=path) }}">{{ target }}</a>
		<span class=info>{{ filesize }}</span>
		<a class=action href="{{ url_for("delete", target=path) }}">delete</a>
		{% if show_editor and path == editor_target %}
  		<form method=POST action="{{ url_for("create", dirname=base_dir) }}" name="editor">
  		<input type=hidden name=filename value="{{ target }}" />
	  	<input type=hidden name=contents value="" />
			<input type=submit value=save name=what />
	  	</form>
		{% else %}
  		<a class=action href="{{ url_for("edit", target=path) }}">edit</a>
		{% endif %}
	</li>
	{% if show_editor and path == editor_target %}
	  <pre id="editor"></pre>
			<script src="{{ url_for("get_static", target="ace/src-min/ace.js") }}" type="text/javascript" charset="utf-8"></script>
	  <script>
      //var editor = ace.edit("editor");
      //editor.setTheme("ace/theme/twilight");
      //editor.session.setMode("ace/mode/javascript");

			$(function() {
				$.ajax({
					type: "GET",
					url: "{{ url_for('get_raw_file', target=path) }}",
					error: function() {
						show_message("error getting raw file contents... DO NOT SAVE (@todo)", true);
					},
					success: function(ret, url) {
						$("form[name=editor] input[name=contents]").val(ret);
						editor.setValue(ret);
						editor.clearSelection();
					}
				});
			});

	  </script>
	{% endif %}
{% endfor %}
</ul>
</div>
{% endif %}
#}


