<!doctype html>
<head lang=en>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Fancy Uploader Frontend</title>

	<script src="{{ url_for("get_static", target="jquery-3.4.1.min.js") }}"
		type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for("get_static", target="jquery.form.js") }}"
		type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for("get_static", target="jsgrid/dist/jsgrid.min.js") }}"
		type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for("get_static", target="ace/src-min/ace.js") }}"
		type="text/javascript" charset="utf-8"></script>

	<link rel="stylesheet" href="{{ url_for("get_static",
											target="jsgrid/dist/jsgrid-theme.min.css") }}" />
	<link rel="stylesheet" href="{{ url_for("get_static",
											target="jsgrid/dist/jsgrid.min.css") }}" />
	<link rel="stylesheet" href="{{ url_for("get_static",
											target="style.css") }}" />

	<script src="{{ url_for("get_static", target="main.js") }}"
		type="text/javascript" charset="utf-8"></script>

</head>
<script src="{{ url_for("get_static", target="init.js") }}"
	type="text/javascript" charset="utf-8"></script>
<script>
	{% for msg in messages %}
		show_message("{{msg}}");
	{% endfor %}
</script>

<body>

<article>
	<div id=flash class=toplvlbox></div>
	<div id=curpath class=toplvlbox></div>
</article>

<main>

	<article>
		<div id=dirs class=toplvlbox></div>
		<div id=files class=toplvlbox></div>
	</article>

	<article>
		<div id=editorbox>
 			  <form method=POST method="post" name=editor
				  	  action="{{ url_for("pastebin") }}">
	  			  <div id=editor></div>
		  		  <input type=hidden name=data />
						<input type=hidden name=paste_from value=editor />
			    	<input type=submit value=paste name=what />
			  </form>
		</div>
	</article>

	<article>
		<div id=tools class=toplvlbox>

 		  <div id=upload class=sublvlbox>
 			  <form method=POST enctype=multipart/form-data method="post"
				  	  action="{{ url_for("create", dirname=base_dir) }}" name=upload>
				  <label>upload file: </label>
				  <input type=file name=target />
					<input type=hidden name=what value=upload />
				  <input type=submit value=upload name=what />
			  </form>
		  </div>

		  <div id=newdir class=sublvlbox>
		  <form method=POST action="{{ url_for("create", dirname=base_dir) }}"
			  		name=newdir>
			  <label>new directory: </label>
			  <input type=text name=new_dirname value=""/>
			  <input type=submit value=create name=what />
		  </form>
		  </div>

			<div id=pastebinlink class=sublvlbox>
				<form method=GET action="{{ url_for("pastebin") }}">
					<input type=submit value="new pastebin" name=what />
				</form>
			</div>

		</div>
		<div id=editorbox>
 			  <form method=POST method="post" name=editor
				  	  action="{{ url_for("pastebin") }}">
	  			  <div id=editor></div>
		  		  <input type=hidden name=data />
						<input type=hidden name=paste_from value=editor />
			    	<input type=submit value=paste name=what />
			  </form>
		</div>

	</article>
</main>


<script src="{{ url_for("get_static", target="end.js") }}"
	type="text/javascript" charset="utf-8"></script>
</body>


{#

{% if show_files and files %}
<div id=files class=box>
<ul>
{% for target, path, filesize in files %}
	<li class=file_item>
  	<a class=name href="{{ url_for("get_file", target=path) }}">{{ target }}</a>
		<span class=info>{{ filesize }}</span>
		<a class=action href="{{ url_for("delete", target=path) }}">delete</a>
		{% if show_editor and path == editor_target %}
  		<form method=POST action="{{ url_for("create", dirname=base_dir) }}" name="editor">
  		<input type=hidden name=filename value="{{ target }}" />
	  	<input type=hidden name=contents value="" />
			<input type=submit value=save name=what />
	  	</form>
		{% else %}
  		<a class=action href="{{ url_for("edit", target=path) }}">edit</a>
		{% endif %}
	</li>
	{% if show_editor and path == editor_target %}
	  <pre id="editor"></pre>
			<script src="{{ url_for("get_static", target="ace/src-min/ace.js") }}" type="text/javascript" charset="utf-8"></script>
	  <script>
      //var editor = ace.edit("editor");
      //editor.setTheme("ace/theme/twilight");
      //editor.session.setMode("ace/mode/javascript");

			$(function() {
				$.ajax({
					type: "GET",
					url: "{{ url_for('get_raw_file', target=path) }}",
					error: function() {
						show_message("error getting raw file contents... DO NOT SAVE (@todo)", true);
					},
					success: function(ret, url) {
						$("form[name=editor] input[name=contents]").val(ret);
						editor.setValue(ret);
						editor.clearSelection();
					}
				});
			});

	  </script>
	{% endif %}
{% endfor %}
</ul>
</div>
{% endif %}
#}


