<!doctype html>
<head lang=en>
<meta charset="UTF-8" />
<title>Fancy Uploader Frontend</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<style type="text/css">

body {
	background-color: grey;
}

.left {
	float: left;
	width: 200px;
}

a:active, a:link, a:visited {
	color: #330;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

</style>

</head>
<body>

{% if show_upload %}
<form method=POST enctype=multipart/form-data action="{{ url_for("upload", dirname=base_dir) }}">
	<!-- input type=hidden name=dirname value="{{ base_dir }}" --!>
	<div class=left>upload:</div>
	<div class=right><input type=file name=target /></div>
	<div class=right><input type=submit value=upload /></div><br />
</form>
<hr />
{% endif %}

<div class=left>current dir: </div><div class=right>{{ base_dir }}</div><br />
{% if show_dirs %}
  {% if base_dir != "." %}
	<div class=left><a href="{{ url_for("show", dirname=parent_path) }}">:: parent dir ::</a></div><br /><br />
	{% endif %}
	{% for target, path in dirs %}
		<div class=left><a href="{{ url_for("show", dirname=path) }}">{{ target }}</a></div>
		<div class=right>
			<a href="{{ url_for("delete_dir", dirname=path) }}">delete</a>
		</div>
	{% endfor %}<br />
<form method=POST action="{{ url_for("create_dir", dirname=base_dir) }}">
	<div class=left>new dir:</div>
	<div class=left><input type=text name=new_dirname /></div>
	<div class=right><input type=submit value=add /></div>
</form>
<hr />
{% endif %}

{% if show_files %}
<ul>
{% for target, path in files %}
<li class=file_item>
	<a href={{ url_for("get_file", target=path ) }}>{{ target }}</a>
</li>
{% endfor %}
</ul>
{% endif %}

</body>
